@font-face {
  font-family: 'pt_sansregular';
  src: url('../font/pt_sansregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'pt_sansregular', sans-serif;
  padding: 2rem;
  font-size: 18px;
}

h2 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 20px auto;
  text-align: center;
}

svg {
  border: 1px solid #000;
}