@font-face {
  font-family: 'pt_sansregular';
  src: url('../font/pt_sansregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'pt_sansregular', sans-serif;
  padding: 2rem;
  font-size: 18px;
}

h2 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#iconDiv {
  text-align: center;
}

rect {
  fill-opacity:1;
  stroke:none;
  stroke-width:0.5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1
}
